<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanguan.device.dao.DeviceMapper">
    <select id="queryAllCity" statementType="PREPARED" resultType="map">
        SELECT CITY_CODE,CITY_NAME,LNG,LAT FROM yanguan.YG_CITY_LNG_LAT
    </select>
    <select id="queryAllProvince" statementType="PREPARED" resultType="map">
      SELECT PROVINCE_NAME,PROVINCE_CODE,LNG,LAT FROM yanguan.YG_CITY_LNG_LAT GROUP BY PROVINCE_CODE HAVING PROVINCE_NAME NOT LIKE '%市';
    </select>
    <select id="queryDeviceCity" statementType="PREPARED">
        SELECT CITY cName FROM yanguan.YG_CALLID WHERE MCC=#{mcc} AND MNC=#{mnc} AND LAC=#{lac} AND CELL=#{cell} LIMIT 1
    </select>
    <select id="queryDeviceProvince" statementType="PREPARED">
        SELECT REGION cName FROM yanguan.YG_CALLID WHERE MCC=#{mcc} AND MNC=#{mnc} AND LAC=#{lac} LIMIT 1
    </select>
</mapper>
